<%= form_tag do %>
  <div class="form-inline">
    <div class="form-group mb-2">
      <label for="fighterSelect1">Fighter 1:</label>
      <%= select(:fighter1, :id, [], {}, { :class => 'form-control' }) do %>
        <% @fighters.each do |fighter| -%>
          <%= content_tag(:option, fighter.name, value: fighter.id) %>
        <% end %>
      <% end %>
    </div>
    
    <div class="form-group mx-sm-3 mb-2">
      <label for="fighterSelect2">Fighter 2:</label>
      <%= select(:fighter2, :id, [], {}, { :class => 'form-control' }) do %>
        <% @fighters.each do |fighter| -%>
          <%= content_tag(:option, fighter.name, value: fighter.id) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= submit_tag("Start!") %>

  <% unless @fight_winner.nil? %>
    <div>
    <%= @fighter1.name %> fights with <%= @fighter2.name %><br>
    <b>Winner: <%= @fight_winner.name %></b>
  </div>
  <% end %>

<% end %> 

