<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fighter.name %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @fighter.strength %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@fighter.picture_url, width: 600) if @fighter.picture.present? %>
</p>

<%= link_to 'Edit', edit_fighter_path(@fighter) %> |
<%= link_to 'Back', fighters_path %>
