<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <%= image_tag(@fighter.picture_url, width: '100%') if @fighter.picture.present? %>
  </div>

  <div class="col-md-4">
    <p><b>Name: </b><%= @fighter.name %></p>
    <p><b>Strength: </b><%= @fighter.strength %></p>
    <p>
      <%= link_to 'Edit', edit_fighter_path(@fighter) %> |
      <%= link_to 'Delete', @fighter, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', fighters_path %>
    </p>
  </div>
</div>