<div class="fight">
<h1>Fights</h1>

<table>
  <thead>
    <tr>
      <th>Winner</th>
      <th>Loser</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.winner.name %></td>
        <td><%= fight.loser.name %></td>
        <td><%= fight.created_at.strftime("%B %e, %Y at %I:%M %p") %></td>
        <td><%= link_to 'Show', fight %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fight', new_fight_path %>
</div>