<p id="notice"><%= notice %></p>

<p>
  <strong>Winner:</strong>
  <%= @fight.winner.name %>
</p>

<p>
  <strong>Loser:</strong>
  <%= @fight.loser.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @fight.created_at.strftime("%B %e, %Y at %I:%M %p") %>
</p>

<%= link_to 'Back', fights_path %>
